<%= form_for @post, url: { controller: "posts", action: "create" } do |f| %>
<%= render partial: 'shared/error_messages', locals: { object: @post } %>
  <div class="field">
    <%= f.text_field :title, placeholder: 'Post Title' %>
  </div>
  <div class="field">
    <%= f.text_field :link, placeholder: 'Post Link' %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Post content' %>
  </div>
  <div class="field">
    <%= f.fields_for :tags, @post.tags.build do |tag_fields| %>
      <%= tag_fields.text_field :name, placeholder: 'Add a Tag' %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
