<h1>Recent Posts</h1>

<section id="list-posts" class="recent">
  <ul>
    <% @recent_posts.each do |post| %>
    <%= link_to community_post_path(post.community, post) do %>
        <li>
          <h2><%= post.title %></h2>
          <p>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.show_name}", user_path(post.user), class: "user-tag" %></p>
          <% post.tags.each do |tag| %>
            <h2 class="tags"><%= tag.name unless tag.name == nil %></h2>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
