<p id="nav-button"><%= link_to 'Back', community_path(@post.community) %></p>

<section id="list">
  <h2><%= link_to "#{@post.title}", @post.link, target: :_blank %></h2>
  <p class="description" id="link"><%= link_to "#{@post.link}", @post.link, target: :_blank %></p>
  <h5>Created by <%= link_to "#{@post.user.show_name}", user_path(@post.user), class: "user-tag" %></h5>
  <p class="description"><%= @post.content %></p>

  <%= link_to like_community_post_path(@post), method: :put do %>
     <div class="engagement">
       <%= image_tag("heart") %>
       <p><%= @post.get_upvotes.size %> </p>
     </div>
  <% end %>
  <div class="engagement">
    <%= image_tag("message-square") %>
    <p><%= @post.comments.size %> </p>
  </div>
</section>

<section id="list-posts">
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <h6><%= comment.content %></h6>
        <p>submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to "#{comment.user.show_name}", user_path(comment.user), class: "user-tag" %></p>
      </li>
    <% end %>
  </ul>
</section>

<section id="list-posts" class="comments">
  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: 'Comment here...' %><br>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "add" %>
  <% end %>
</section>
