<%= form_for @community do |f| %>
<%= render partial: 'shared/error_messages', locals: { object: @community } %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
