<h1>Communities</h1>

<section id="list">
  <ul>
    <% @communities.each do |community| %>
      <%= link_to community do %>
        <li>
          <h2><%= community.title %></h2>
          <p class="description"><%= community.short_description %></p>
          <p class="time-ago">
            created <%= time_ago_in_words(community.created_at) %> ago by <%= link_to "#{community.poster.show_name}", user_path(community.poster), class: "user-tag" %>
            <% if  community.poster.flairs.last != nil %>
              <%= link_to "#{community.poster.flairs.last.name}", user_path(community.poster), class: "user-tag" %>
            <% end %>

            <% if  community.poster.flairs.last != nil %>
              <%= link_to "#{community.poster.user_flairs.first.experience_level}", user_path(community.poster), class: "user-tag" %>
            <% end %>
            </p>
        </li>
      <% end %>
    <% end %>
    <%= link_to new_community_path do %>
      <div class="add-link">
        <p ><%= image_tag("plus") %>  Community</p>
      </div>
    <% end %>
  </ul>
</section>
