<p id="nav-button"><%= link_to 'Back', communities_path %></p>

<% if  current_user.id == @community.user_id %>
  <p id="nav-button"><%= link_to 'Delete', @community, method: :delete %></p>
  <p id="nav-button"><%= link_to 'Edit', edit_community_path(@community, @post) %></p>
<% end %>

<section id="list">
  <h2><%= @community.title %></h2>
  <h5>Created by <%= link_to "#{@community.poster.show_name}", user_path(@community.poster), class: "user-tag" %></h5>

  <p class="description"><%= @community.short_description %></p>
  <h5><%= pluralize(@community.posts.size, 'post') %></h5>
</section>

<section id="list-posts">
  <ul>
    <% @community.posts.each do |post| %>
      <%= link_to community_post_path(@community, post) do %>
        <li>
          <h2><%= post.title %></h2>
          <p>submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to "#{post.user.show_name}", user_path(post.user), class: "user-tag" %></p>
          <% post.tags.each do |tag| %>
            <h2 class="tags"><%= tag.name unless tag.name == nil %></h2>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <%= link_to new_community_post_path(@community) do %>
      <div class="add-link">
        <p ><%= image_tag("plus") %>  Post</p>
      </div>
    <% end %>
  </ul>
</section>
