<nav>
  <%= image_tag("terminal") %>
  <h1 id="logo"><%= link_to "devit", root_path %></h1>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "#{current_user.email}", user_registration_path(current_user) %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Join devit", new_user_registration_path %></li>
      <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
